// * deleted background color override * //

button.btn.no-text.btn-icon.composer_deleted_button:after {
  position: absolute;
  content: "__";
  color: var(--primary);
  padding-bottom: 15px;
}

@if $deleted_background_color_override !="" {

  button.btn.no-text.btn-icon.composer_deleted_button {
    background-color: $deleted_background_color_override;
    box-shadow: inset 0 0 0 5px var(--secondary);
    border: none;
  }

  .cooked,
  .d-editor-preview {
    del {
      background-color: $deleted_background_color_override;
      border-radius: 3px;
      outline: 2px solid $deleted_background_color_override;
    }
  }
}

@else {

  button.btn.no-text.btn-icon.composer_deleted_button {
    background-color: var(--danger-low);
    box-shadow: inset 0 0 0 5px var(--secondary);
    border: none;
  }
 
  .cooked,
  .d-editor-preview {
    del {
      background-color: var(--danger-low);
      border-radius: 3px;
      outline: 2px solid var(--danger-low);
    }
  }
}

// * insert text color override * //

@if $deleted_text_color_override !="" {

  .cooked,
  .d-editor-preview {
    del {
      color: $deleted_text_color_override;
    }
  }
}

@else {

  .cooked,
  .d-editor-preview {
    del {
      color: var(--color);
    }
  }
}
